

html, body {
    margin: 0;
    height: 100%;
}

body{
    background: url(./static/bground.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background: url(./cards/filc.jpg);
    width: 75%;
    height: 90%;
    border: 50px solid black;
    border-radius: 15%;

}
.bet-field{
    display: flex;
    justify-items: center ;
    align-items: center;
    width: 100%;
    height: 33%;
    border-radius: 100%;
    margin-bottom: 30%;
    border:0.3vw solid #ffd50a;


}

.container > h1{
    font-family: "Fira Code Retina";
    font-size: 2vw;
    text-shadow: 6px 5px #2d2c29;
    color: #d7b506;
    font-weight: bold;
    letter-spacing: 2px;

    }

.button-container{
    display: flex;
    height: 20%;
    width: 60%;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

.player-field{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    padding-bottom: 1vw;

}

.player-1-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: fantasy;
    font-weight: bold;
    width: 90%;
    height: 70%;
    margin-top: 20%;

    border-radius: 10%;
    border:0.5vw solid #ffd50a;
}

.player-2-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: fantasy;
    font-weight: bold;
    width: 90%;
    height: 70%;
    margin-top: 20%;
    border-radius: 10%;
    border: 0.5vw solid #ffd50a;

}

.deck{
    background: url(./cards/purple_back.png) no-repeat;
    background-position: center;
    background-size: 8vw;
    display: flex;
    border: 0.2vw solid #ffd50a;
    height: 37%;
    width: 60%;
    border-radius: 7%;
}
.player-1-cards > p{
    position: relative;
    top: 2%;
    color: #ffd50a;
    font-size: 1.7vw;
}

.player-2-cards > p{
    position: relative;
    top: 2%;
    color: #ffd50a;
    font-size: 1.7vw;
}
@keyframes active {
    0% {border-color: red}
    50% {border-color: yellow}
    100% {border-color: red}
}
.active{
    animation-name: active;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes button {
    0% {background-color: red}
    50% {background-color: black}
    100% {background-color: red}
}

.button{
    height: 50%;
    width: 20%;

    background-color: black;
    color: #f52626;
    font-weight: bold;
    font-family: "Fira Code Retina";
    font-size: 1.6vw;
    border-radius: 10%;
    border-style: dotted;

}

.button:hover {
    animation-name: button;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.card{
    max-width: 25%;
  height: auto;
}


.table{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 20%;
    height: 100%;

}
.player-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
}

.chip{
    display: flex;

}

.player-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
}
.chips{
    display: flex;
    flex-direction: row;
}
.chip >img {
    max-width: 60%;
    height: auto;
    background-color: transparent;

}

.counter{
    color: #ffd50a;
}