@font-face {
    font-family: test, 'Oswald', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

}
*{
    font-family: "Fira Code Retina";
    text-shadow: 6px 5px #2d2c29;
}

html, body {
    margin: 0;
    height: 100%;
}

body {
    background: url(./static/bground.jpg);
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background: url(./cards/filc.jpg) no-repeat ;
    background-size: 100%;
    width: 75%;
    height: 90%;
    border: 50px solid black;
    border-radius: 15%;
}

.drop-zone{
    display: flex;
    justify-content: center ;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 33%;
    border-radius: 100%;
    border:0.3vw solid #ffd50a;
    opacity: 85%;
    margin-top: 5%;
}

.bet-field > img {
    width: 20%;
}

.bet-field {
    display: flex;
    justify-content: center ;
    align-content: center;
    flex-wrap: wrap;
    width: 70%;
    height: 70%;
    overflow: paged-x;
    position: relative;
}

.bet-field > h1{
    top: 53%;
    color: #ffd50a;
    opacity: 40%;
    z-index: 0;
    position: absolute;
    text-shadow: none;

}


.dealer-field{
    display: flex;
    flex-direction: row;
    height: 25%;
    width: 100%;
}

.player-field {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
    height: 75%;
    width: 100%;
    padding-bottom: 1vw;

}

.player-1-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: test, 'Oswald', 'sans-serif';
    font-weight: bold;
    width: 90%;
    height: 70%;
    margin-top: 0;
    border-radius: 10%;
    border:0.5vw solid #ffd50a;
    opacity: 85%;
}

.player-2-cards {
    display: flex;

    flex-direction: column;
    align-items: center;
    font-family: test, 'Oswald', 'sans-serif';
    font-weight: bolder;
    width: 90%;
    height: 70%;
    margin-top: 0;
    border-radius: 10%;
    border: 0.5vw solid #ffd50a;
    opacity: 85%;
}

.deck {
    background: url(./cards/purple_back.png) no-repeat center;
    background-size: 80%;
    display: flex;
    height: 45%;
    width: 60%;

}

.player-1-cards > p {
    position: relative;
    top: 2%;
    color: #ffd50a;
    font-size: 1.2vw;
    margin-top: 0;
}

.player-2-cards > p {
    position: relative;
    top: 2%;
    color: #ffd50a;
    font-size: 1.2vw;
    margin-top: 0;
}

@keyframes active {
    0% {border-color: #015501
    }
    50% {border-color: yellow}
    100% {border-color: #015501}
}

.active {
    animation-name: active;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes button {
    0% {background-color: red}
    50% {background-color: black}
    100% {background-color: red}
}

.button {
    height: 10%;
    width: 55%;
    background-color: transparent;
    font-weight: bolder;
    color: white;
    font-family: test, 'Oswald', 'sans-serif';
    font-size: 1vw;
    border-radius: 10%;
    border-style: dot-dot-dash;
    border-width: thick;
    text-shadow: none;
    border-color: #ffd50a;
    opacity: 80%;
}



.card{
    max-width: 25%;
  height: auto;
}

.table {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 20%;
    height: 100%;
}

.table > p {
    color: #ffd50a;
    font-weight: bold;
    margin-bottom: 15%;
    font-size: 1.8vw;
}

.player-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
}

.chip {
    display: flex;
    align-items: center;
    justify-content: center;

}


.counter {
    font-size: 1.5vw;
    opacity: 92%;

}

.player-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
}

.chips {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-content: center;


}

.chip > img {

    max-width: 50%;
    height: auto;
    background-color: transparent;
}

.counter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color:white;
}

.score {
    font-size: 20px;
    color: #ffd50a;
    font-weight: bold;
}

.asd {
    width: 200px;
    height: 90px;
}


.hidden{
    visibility: hidden;
}