html, body {
    margin: 0;
    height: 100%;
}

body{
    background: url(./static/bground.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
    background-color: #234e23;
    border-radius: 14%;
}

.container > h1{
    font-family: "Fira Code Retina";
    text-shadow: 5px 5px #2d2c29;
    color: #d7b506;
    font-weight: bold;
    letter-spacing: 2px;
}

.button-container{
    display: flex;
    height: 20%;
    align-items: flex-start;
    flex-direction: row;
}

.player-field{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 100%;

}

.player-1{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-family: fantasy;
    font-weight: bold;
    width: 30%;
    height: 70%;

    border-radius: 10%;
    border:6px solid #ffd50a;
}

.player-2{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-family: fantasy;
    font-weight: bold;
    width: 30%;
    height: 70%;

    border-radius: 10%;
    border: 6px solid #ffd50a;
}

.deck{
    display: flex;
    border: 6px solid #ffd50a;
    height: 40%;
    width: 15%;
    border-radius: 10%;
}
.player-1 > p{
    position: relative;
    top: 2%;
    color: #ffd50a;
}

.player-2 > p{
    position: relative;
    top: 2%;
    color: #ffd50a;
}

.player-1 .active{
    border: #333333;
}

.player-2 .active{
    border: #333333;
}

@keyframes button {
    0% {background-color: red}
    50% {color: blue}
    100% {background-color: black}
}

.button{
    height: 40px;
    width: 90px;
    margin: 10px;
    background-color: black;
    color: #f52626;
    font-weight: bold;
    font-family: "Fira Code Retina";
    font-size: large;
    border-radius: 10%;
    animation-name: button;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.button:hover {
    transform: ;
}
