@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

@font-face {
    font-family: test, 'Oswald', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

}
*{
    font-family: 'Oswald', sans-serif;
    text-shadow: 6px 5px #2d2c29;
    color: white;


}

html, body {
    margin: 0;
    height: 100%;
}

body {
    background: url(./static/bground.jpg);
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: center;
    background: url(./cards/poker-table-background-green-color_47243-1068.jpg) no-repeat ;
    background-size: 120%;
    width: 75%;
    height: 90%;
    border: 50px solid black;
    border-radius: 15%;
    position: relative;
    z-index: 1;
}

.drop-zone{
    display: flex;
    justify-content: center ;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 33%;
    border-radius: 100%;
    border:0.3vw solid #ffd50a;
    opacity: 85%;
    margin-top: 5%;
}

.bet-field > img {
    width: 20%;
}

.bet-field {
    display: flex;
    justify-content: center ;
    align-content: center;
    flex-wrap: wrap;
    width: 70%;
    height: 70%;
    overflow: paged-x;
    position: relative;
}

.bet-field > h1{
    top: 43%;
    font-family: 'Oswald', sans-serif;;
    color: rgba(0, 0, 0, 0.53);
    opacity: 70%;
    z-index: 0;
    position: absolute;
    text-shadow: none;

}


.dealer-field{
    display: flex;
    flex-direction: row;
    height: 25%;
    width: 100%;
}

.player-field {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 75%;
    width: 100%;
    padding-bottom: 1vw;

}

.player-1-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: test, 'Oswald', 'sans-serif';
    font-weight: bold;
    width: 90%;
    height: 70%;
    margin-top: 0;
    border-radius: 10%;
    border:0.32vw solid #ffd50a;
    opacity: 85%;
}

.player-2-cards {
    display: flex;

    flex-direction: column;
    align-items: center;
    font-family: test, 'Oswald', 'sans-serif';
    font-weight: bolder;
    width: 90%;
    height: 70%;
    margin-top: 0;
    border-radius: 10%;
    border: 0.32vw solid #ffd50a;
    opacity: 85%;
}

.deck {
    background: url(./cards/red_back.png) no-repeat center;
    background-size: 80%;
    display: flex;
    height: 50%;
    width: 60%;

}

.player-1-cards > p {
    position: relative;
    top: 2%;
    font-size: 1.2vw;
    margin-top: 0;
}

.player-2-cards > p {
    position: relative;
    top: 2%;
    font-size: 1.2vw;
    margin-top: 0;
}

@keyframes active {
    0% {border-color: white;
    }
    50% {border-color: yellow}
    100% {border-color: white}
}

.active {
    animation-name: active;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.button {
    height: 10%;
    width: 50%;
    background-color: transparent;
    font-weight: bolder;
    color: white;
    font-family: test, 'Oswald', 'sans-serif';
    font-size: 1vw;
    border-radius: 10%;
    border-style: dot-dot-dash;
    border-width: thick;
    text-shadow: none;
    border-color: white;
    opacity: 80%;
}



.card{
    width: 22%;

}

.table {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 20%;
    height: 100%;
}

.table > p {
    font-weight: bold;
    margin-bottom: 15%;
    font-size: 1.8vw;
}

.player-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
}

.chip {
    display: flex;
    align-items: center;
    justify-content: center;

}


.counter {
    font-size: 1.5vw;
    opacity: 92%;

}

.player-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
}

.chips {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-content: center;


}

.chip > img {

    max-width: 50%;
    height: auto;
    background-color: transparent;
}

.counter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color:white;
}

.score {
    font-size: 20px;

}

.asd {
    width: 200px;
    height: 90px;
}


.hidden{
    visibility: hidden;
}


.dealer-hand{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 1200px;
    height: 216px;


}

.dealer-hand > img{
    height: 150px;
    width: 105px;

}

.dealer-score{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 62%;
}

.win-window {
    position: absolute;
    background-color: rgba(3, 3, 3, 0.49);
    z-index: 3;
    width: 40%;
    height: 50%;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 30%;
    left: 30%;
}

.win-window > p {
    text-shadow: none;
    color: white;
    font-size: 4vw;
}

.restart-form {
    width: 40%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.restart-form > button {
    width: 60%;
    height: 25%;
    text-shadow: none;
    border-radius: 10%;
    background-color: transparent;
    font-weight: bolder;
    color: white;
    font-family: test, 'Oswald', 'sans-serif';
    font-size: 1vw;
    border-style: dot-dot-dash;
    border-width: thick;
    border-color: #ffd50a;
    /*opacity: 80%;*/
    animation-name: button;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    margin-bottom: 61%;
}

.win-window.hidden {
    visibility: hidden;
}

@keyframes button {
    0% {background-color: blue}
    25% {background-color: red}
    50% {background-color: green}
    75% {background-color: yellow}
    100% {background-color: blue}
}