

html, body {
    margin: 0;
    height: 100%;
}

body{
    background: url(./static/bground.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(./cards/filc.jpg);
    width: 75%;
    height: 90%;
    border: 50px solid black;
    border-radius: 15%;

}

.container > h1{
    font-family: "Fira Code Retina";
    font-size: 2vw;
    text-shadow: 6px 5px #2d2c29;
    color: #d7b506;
    font-weight: bold;
    letter-spacing: 2px;

    }

.button-container{
    display: flex;
    height: 20%;
    width: 60%;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

.player-field{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 100%;

}

.player-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: fantasy;
    font-weight: bold;
    width: 30%;
    height: 80%;

    border-radius: 10%;
    border:0.5vw solid #ffd50a;
}

.player-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: fantasy;
    font-weight: bold;
    width: 30%;
    height: 80%;

    border-radius: 10%;
    border: 0.5vw solid #ffd50a;

}

.deck{
    display: flex;
    border: 0.2vw solid #ffd50a;
    height: 40%;
    width: 15%;
    border-radius: 10%;
}
.player-1 > p{
    position: relative;
    top: 2%;
    color: #ffd50a;
    font-size: 1.7vw;
}

.player-2 > p{
    position: relative;
    top: 2%;
    color: #ffd50a;
    font-size: 1.7vw;
}
@keyframes active {
    0% {border-color: red}
    100% {border-color: yellow}
}
.active{
    animation-name: active;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes button {
    0% {background-color: white}
    100% {color: aliceblue}
}

.button{
    height: 50%;
    width: 20%;

    background-color: black;
    color: #f52626;
    font-weight: bold;
    font-family: "Fira Code Retina";
    font-size: 1.6vw;
    border-radius: 10%;
    border-style: dotted;
    animation-name: button;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.button:hover {

}

.card{
    max-width: 25%;
  height: auto;
}
