@font-face {
    font-family: test, 'Oswald', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

}
*{
    font-family: "Fira Code Retina";

    text-shadow: 6px 5px #2d2c29;
}

html, body {
    margin: 0;
    height: 100%;
}

body {
    background: url(./static/bground.jpg);
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background: url(./cards/filc.jpg) no-repeat ;
    background-size: 100%;
    width: 75%;
    height: 90%;
    border: 50px solid black;
    border-radius: 15%;
}

.drop-zone{
    display: flex;
    justify-content: center ;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 33%;
    border-radius: 100%;
    border:0.3vw solid #ffd50a;
}

.bet-field > img {
    width: 20%;
    height: 40%;
    position: relative;

}

.bet-field {
    display: flex;
    justify-content: center ;
    align-content: center;
    flex-wrap: wrap;
    width: 70%;
    height: 70%;
    overflow: paged-x;
}

[data-value="5"] {

}

.container > h1 {
    font-family: "Fira Code Retina";
    font-size: 2vw;
    text-shadow: 6px 5px #2d2c29;
    color: #d7b506;
    font-weight: bold;
    letter-spacing: 2px;
}

.player-field {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    padding-bottom: 1vw;
}

.player-1-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: test, 'Oswald', 'sans-serif';
    font-weight: bold;
    width: 90%;
    height: 70%;
    margin-top: 0%;
    border-radius: 10%;
    border:0.5vw solid #ffd50a;
}

.player-2-cards {
    display: flex;

    flex-direction: column;
    align-items: center;
    font-family: test, 'Oswald', 'sans-serif';
    font-weight: bolder;
    width: 90%;
    height: 70%;
    margin-top: 0%;
    border-radius: 10%;
    border: 0.5vw solid #ffd50a;
}

.deck {
    background: url(./cards/purple_back.png) no-repeat;
    background-position: center;
    background-size: 8vw;
    display: flex;

    height: 40%;
    width: 60%;

}

.player-1-cards > p {
    position: relative;
    top: 2%;
    color: #ffd50a;
    font-size: 1.2vw;
    margin-top: 0;
}

.player-2-cards > p {
    position: relative;
    top: 2%;
    color: #ffd50a;
    font-size: 1.2vw;
    margin-top: 0;
}

@keyframes active {
    0% {border-color: red}
    50% {border-color: yellow}
    100% {border-color: red}
}

.active {
    animation-name: active;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes button {
    0% {background-color: red}
    50% {background-color: black}
    100% {background-color: red}
}

.button {
    height: 10%;
    width: 55%;
    background-color: black;
    color: #f52626;
    font-weight: bolder;
    font-family: test, 'Oswald', 'sans-serif';
    font-size: 1.2vw;
    border-radius: 10%;
    border-style: dotted;
}

.button:hover {
    animation-name: button;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.card{
    max-width: 25%;
  height: auto;
}

.table {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 20%;
    height: 100%;
}

.table > p {
    color: #ffd50a;
    font-weight: bold;
    margin-bottom: 20%;
    font-size: 1.8vw;
}

.player-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
}

.chip {
    display: flex;

    text-align: center;
}


.counter {
    font-size: 1.5vw;

}

.player-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
}

.chips {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    align-items: center;
}

.chip > img {
    max-width: 50%;
    height: auto;
    background-color: transparent;
}

.counter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color:white;
}

.score {
    font-size: 20px;
    color: #ffd50a;
    font-weight: bold;
}

.asd {
    width: 200px;
    height: 90px;
}


.hidden{
    visibility: hidden;
}