@font-face {
    font-family: test, 'Oswald', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

}

body {
    background: url(../static/casino.jpg);
    background-size: 80%;
    background-color: black;
    background-position: top;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;

}
h1 {
    text-align: center;
    font-size: 50px;
    font-family: test, 'Oswald', 'sans-serif';
    font-variant: all-petite-caps;
    text-shadow:
            0 0 0.5em #48aef3,
            0 0 1em blue;
    color: #9adbff;
    margin-bottom: 180px;
    opacity: 80%;
}
.white{
    width: 300px;
    height: 180px;

    display: flex;
    justify-items: center;
    align-items: flex-start;
    flex-direction: column;
    opacity: 77%;

}
#menu {
    background-color: #1b1d38;
    box-shadow:  0 0 4em #48aef3,
                 0 0 4em #2f2fa5;
    border-radius: 10px;
    width: 320px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    position: relative;
    left: 5%;
    border-radius: 10px;
    opacity: 77%;
}
.button {

    border-style: dot-dot-dash;
    position: relative;
    top: 10%;
    left: 45%;
    font-family: test, 'Oswald', 'sans-serif';
    font-variant: small-caps;
    font-weight: bolder;
    font-size: 20px;
    color: #48aef3;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: transparent;

}
input {
    border-radius: 10px;
}
.name {
    position: relative;
    top: 10%;
    left: 5%;
    font-size: 20px;
    font-family: test, 'Oswald', 'sans-serif';
    font-weight: bolder;
    font-variant: all-small-caps;
    color: #48aef3;

}